.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.login-input{
    display: inline-block;
    width: 415px;
    height: 40px;
    padding-top: 10px;
    border: 1px solid #ccc;
    border-left: 0px;
    font-size: 15px;
}
.login-input input{
    border: 0px;
    padding-top: 8px;
    font-size: 15px;
    width: 380px;
    outline: none;
}
.login-form2{
    margin: 21px 0px 10px 0px;
}
.login-span{
    border: 1px solid #ccc;
    padding: 14px 25px;
}
#login-icon1{
    background: url(../img/coopang_icon_message.png) no-repeat;
    background-color: #fafafa;
    background-position: 13px;
    background-size: 24px;
}
#login-icon2{
    background: url(../img/coopang_icon_lock.png) no-repeat;
    background-color: #fafafa;
    background-position: 13px;
    background-size: 22px;
}
.login-comment{
    display: inline-block;
    width: 465px;
}
.login-comment label{
    display: flex;
    float: left;
}
.login-comment span{
    display: inline-block;
    padding-top: 3px;
    font-size: 14px; 
}
.login-comment a{
    float: right;
    font-size: 14px;
    color: rgb(0, 153, 255);
}
.login-comment input[type=checkbox] {
    display: inline-block;
    margin: 0px 8px 0px 0px;
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
}