.all-allow{
    display: inline-block;
    width: 465px;
    border-top:1px solid #ccc;
    padding-top: 20px;
    margin: 10px;
}

.allow-check-box{
    display: inline-block;
    margin: 0px 10px 0px 0px;
    width: 19px;
    height: 19px;
    border: 1px solid #ccc;
}
.all-allow label:first-child{
    display: inline-block;
    width: 500px;

}
.all-allow label:last-child{
    display: inline-block;
    width: 436px;
    text-align: start;
    padding-left: 27px
}
#all-allow-text{
    float: left;
    font-size: 18px;
}
#all-allow-detail{
    float: left;
    font-size: 12px;
}
.allow-list-form{
    display: inline-block;
    width: 480px;
    height: 370px ;
    text-align: start;
    border: 1px solid #ccc;
}
.allow-list{
   list-style: none;
   padding: 0px 0px 10px 20px;
}
.allow-list li{
    padding-bottom: 10px;
    font-size: 14px;
}

.allow-list li button{
    float: right;
    background: url(../img/coopang_arrow.png) no-repeat;
    background-size: 20px;
    padding: 15px;
    border: 0px;
}
.allow-list ul{
    list-style: none;
    padding-left: 20px;
}
.allow-list ul li{
    padding-top: 10px;
}